body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 50px;
}
a{
    color: white;
    background-image : linear-gradient(to right, red, orange);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
}

.raihan-image img{
    width: 95%;
}

.orange{
    color: orange;
}
h1{
    font-size: 35px;
}

#full-dev{
    width: 40%;
    box-shadow: 10px 10px  30px gray;
    padding: 20px;
    margin-right: 3%;
    margin-left: 3%;
    border-left: 10px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 1;
}

#baby-dev{
    width: 40%;
    box-shadow: 10px 10px  30px gray;
    padding: 20px;
    margin-right: 3%;
    margin-left: 3%;
    border-left: 10px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
    
}

footer{
    text-align: center;
}