body{
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: flex;
}
.half-width{
    width: 50%;
}

.raihan-image img{
    width: 90%;
}

.orange{
    color: orange;
}
h1{
    font-size: 50px;
}